body {
	color: rgb(170, 195, 225);
	background-color: rgb(30, 30, 30);
	font-size: 28px;
	font-family: "メイリオ";
	height: 100vh;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

.main-content {
	margin: auto;
	width: 80%;
	height: auto;
}

.editor-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.novel-content {
	color: rgb(170, 195, 225);
	background-color: rgb(30, 30, 30);
	font-size: 36px;
	font-family: "メイリオ";
	width: 100%;
	min-height: 90vh;
	outline: none;
	border: 1px solid rgb(30, 30, 30);
	line-height: 200%;
	white-space: pre-wrap;
	overflow-y: visible;
}

#save-button {
	margin-top: 10px;
	font-size: 24px;
	padding: 10px;
	background-color: #444;
	color: #aaa;
	border: none;
	cursor: pointer;
	align-self: flex-end;
}

#save-button:hover {
	background-color: #555;
}