<!DOCTYPE html>
<html lang="ja" class="editor-html">
<head>
	<meta charset="UTF-8">
	<title>{{ file_name }}</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="editor-page">
	<header class="editor-bar">
		<a class="editor-back" href="{{ url_for('index') if folder_path == '' else url_for('view_folder', path=folder_path) }}">Back</a>
		<span class="editor-file-name">{{ file_name }}</span>
		<span id="save-status">自動保存待機中</span>
		<span id="char-count">文字数: {{ length }}</span>
		<span id="last-modified">最終保存: {{ last_modified.strftime('%Y-%m-%d %H:%M:%S') }}</span>
		<button id="save-button" type="button">Save</button>
		<button id="fullscreen-button" type="button">Fullscreen</button>
	</header>

	<main class="immersive-editor">
		<div
			id="novel-text"
			class="novel-content"
			contenteditable="true"
			role="textbox"
			aria-multiline="true"
			tabindex="0"
			spellcheck="false"
		></div>
	</main>
	<script>
		const filePath = {{ file_path | tojson | safe }};
		const initialContent = {{ content | tojson | safe }};
	</script>
	<script src="/static/js/editor.js"></script>
</body>
</html>
