<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>simple_editor</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="main-content">
		<div class="editor-container">
			<div id="novel-text" class="novel-content" contenteditable="true">{{ document.content }}</div>
		</div>
	</div>
	<script>
		const docId = {{ document.id }};
		const initialContent = {{ document.content | tojson | safe }};
	</script>
	<script src="/static/js/editor.js"></script>
</body>
</html>